<div class="container">
    <br>
    <h4><mark>Автомобиль:</mark> {{name}}  <small> {{model}} </small></h4>
    <div class="alert alert-primary">
        Характеристики:
        <ul>
            <li>Скорость: <strong>{{speed}}</strong> km</li>
            <li>Цвет автомобиля: <strong>{{colors.car}}</strong></li>
            <li>Цвет салона: <strong>{{colors.salon}}</strong></li>
            <li>Цвет колёс: <strong>{{colors.wheels}}</strong></li>
        </ul>
    </div>

    <h5>Редактирование обьекта</h5>
    <button class="btn btn-danger" (click)="showEdit ()">Редактировать</button>
    <div><br></div>
    <form *ngIf=isEdit>
        <div class="form-group">
            <input type="text" id="option" placeholder="Название машины" 
            class="form-control" [(ngModel)]="name" name="name"><br>

            <input type="text" id="option" placeholder="Модель машины" 
            class="form-control" [(ngModel)]="model" name="model"><br>

            <input type="text" id="option" placeholder="Скорость" 
            class="form-control" [(ngModel)]="speed" name="speed"><br>

            <input type="text" id="option" placeholder="Цвет машины" 
            class="form-control" [(ngModel)]="colors.car" name="colors.car"><br>

            <input type="text" id="option" placeholder="Цвет салона" 
            class="form-control" [(ngModel)]="colors.salon" name="colors.salon"><br>

            <input type="text" id="option" placeholder="Цвет колёс" 
            class="form-control" [(ngModel)]="colors.wheels" name="colors.wheels"><br>
        </div>
    </form>

    <h5>Возможности автомобиля</h5>
    <form (submit)="addOpt (option.value)">
        <div class="form-group">
            <label for="option">Добавление новой возможности</label>
            <input type="text" id="option" placeholder="Введите что-то" class="form-control" #option>
            <br>
            <button type="submit" class="btn btn-outline-success">Добавить</button>
        </div>
    </form>

    <div class="alert alert-warning">
        <ul>
            <li *ngFor="let opt of options;">
                {{opt}} <button class="btn btn-warning btn-sm" (click)="deleteOpt (opt)">x</button>
            </li>
        </ul>
    </div>

    <h5>Выберете автомобиль</h5>
    <button class="btn btn-danger" (click)="carSelect ('BMW')">BMW</button>
    <button class="btn btn-warning" (click)="carSelect ('Audi')">Audi</button>
    <button class="btn btn-success" (click)="carSelect ('Mercedes')">Mercedes</button>
</div>
