<app-navbar></app-navbar>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
<!-- <app-checkout></app-checkout> -->
<!-- <app-carousel></app-carousel>
<br>
<app-menu></app-menu>
<br> -->
<br>
<app-footer></app-footer>
