
<br>

<app-carousel></app-carousel>

<br>

<div class="container">
    <div class="card-deck">
        <div class="card" *ngFor="let item of pizzesFirstRow">
            <img [src]="item.image" class="card-img-top" alt="..." >
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.text}}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title" >От {{item.price}} р.<button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalCenter" id="buy" (click)="changeInfo (item)">Выбрать</button></h5>
            </div>
        </div>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card" *ngFor="let item of pizzesSecondRow">
            <img [src]="item.image" class="card-img-top" alt="..." >
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.text}}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title" >От {{item.price}} р.<button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalCenter" id="buy" (click)="changeInfo (item)">Выбрать</button></h5>
            </div>
        </div>
</div>

  
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" id="window">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Подробная информация</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" [ngStyle]="{'width': '180px', 'height': '180px'}" [src]="image" data-holder-rendered="true">
                  <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                      <a class="text-dark" href="#">{{title}}</a>
                    </h3>
                    <br>
                    
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active" id="test">
                              <input type="radio" name="options" id="option1" autocomplete="off" (click)="changeImageF (price)"> 25 см
                            </label>
                            <label class="btn btn-secondary" id="test">
                              <input type="radio" name="options" id="option2" autocomplete="off" (click)="changeImageS (price)"> 30 см
                            </label>
                            <label class="btn btn-secondary" id="test">
                              <input type="radio" name="options" id="option3" autocomplete="off" (click)="changeImageT (price)"> 35 см
                            </label>
                          </div>
                    
                    <br>

                    <h5 class="card-title" >Цена {{price}} р.</h5>
                  </div>
                  
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-warning" routerLink="/chekout" data-dismiss="modal">Оформить заказ</button>
        </div>
      </div>
    </div>

    <div class="scrollup">
      <!-- Иконка fa-chevron-up (Font Awesome) -->
      <i class="fa fa-chevron-up"></i>
    </div>

<br>