.card-body {
    height: 70%;
}

.card-img-top img{
    margin-left: 20%;
}

.my-div {
    height: 50%;
}

.card {
    border: 3px solid #fff; /* Белая рамка */
}

#buy {
    margin-left: 60%;
    margin-right: 10%;
    margin-bottom: 10%;
}

#window {
    width: 1000px;
}

#test {
    background-color: #FFC218;
}