<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dodo pizza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Меню<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/chekout">Оформить заказ</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  tabindex="-1" aria-disabled="true" href="#">О нас</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Контакты
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6><a class="dropdown-item" href="#">MTC +375 (23) 456-78-90</a></h6>
            <a class="dropdown-item" href="#">A1 +375 (29) 876-35-43</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <button type="button" class="btn btn-outline-warning" routerLink="/login">Войти</button>
        </ul>
      </form>
    </div>
  </nav>
</div>


