

<div class="container">
<body class="text-center">
    
    <form class="form-signin">
      <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/ru/thumb/4/4c/%D0%94%D0%9E%D0%94%D0%9E-%D0%9F%D0%B8%D1%86%D1%86%D0%B0.jpg/1200px-%D0%94%D0%9E%D0%94%D0%9E-%D0%9F%D0%B8%D1%86%D1%86%D0%B0.jpg" alt="" width="300" height="106">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <div class="form-group col-md-4 col-sm-4">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-warning " type="submit">Sign in</button>
    </form>
</body>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>