<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2019-2020 Dodo pizza</p>
    <ul class="list-inline">
      <li class="list-inline-item" id="foot"><a href="#">Privacy</a></li>
      <li class="list-inline-item" id="foot"><a href="#">Terms</a></li>
      <li class="list-inline-item" id="foot"><a href="#">Support</a></li>
    </ul>
  </footer>